{* This is a test file with unclosed elseif directive *}

<html>
<head>
    <title>Test Unclosed Elseif Directive</title>
</head>
<body>
    <h1>Test Unclosed Elseif Directive</h1>
    
    {* Unclosed if-elseif structure *}
    {if $condition1}
        <p>Condition 1 is true</p>
    {elseif $condition2}
        <div class="alternative">
            <p>Condition 2 is true</p>
</body>
</html>