{* This is a test file with unclosed snippet directive *}

<html>
<head>
    <title>Test Unclosed Snippet Directive</title>
</head>
<body>
    <h1>Test Unclosed Snippet Directive</h1>
    
    {* Unclosed snippet directive *}
    {snippet mySnippet}
        <div class="snippet">
            <p>This is a snippet that can be updated via AJAX</p>
</body>
</html>