{* This is a test file with unclosed try directive *}

<html>
<head>
    <title>Test Unclosed Try Directive</title>
</head>
<body>
    <h1>Test Unclosed Try Directive</h1>
    
    {* Unclosed try directive *}
    {try}
        <div class="try-block">
            <p>This content is in a try block</p>
</body>
</html>