{* This is a test file with unclosed case directive *}

<html>
<head>
    <title>Test Unclosed Case Directive</title>
</head>
<body>
    <h1>Test Unclosed Case Directive</h1>
    
    {* Unclosed switch-case structure *}
    {switch $value}
        {case 1}
            <div class="case-content">
                <p>The value is 1</p>
</body>
</html>