{* This is a test file with unclosed else directive *}

<html>
<head>
    <title>Test Unclosed Else Directive</title>
</head>
<body>
    <h1>Test Unclosed Else Directive</h1>
    
    {* Unclosed if-else structure *}
    {if $condition}
        <p>Condition is true</p>
    {else}
        <div class="alternative">
            <p>Condition is false</p>
</body>
</html>