{* This is a test file with unclosed if directive *}

<html>
<head>
    <title>Test Unclosed If Directive</title>
</head>
<body>
    <h1>Test Unclosed If Directive</h1>
    
    {* Unclosed if directive *}
    {if $condition}
        <div class="conditional">
            <p>This content is displayed conditionally</p>
</body>
</html>