{* This is a test file with unclosed snippetArea directive *}

<html>
<head>
    <title>Test Unclosed SnippetArea Directive</title>
</head>
<body>
    <h1>Test Unclosed SnippetArea Directive</h1>
    
    {* Unclosed snippetArea directive *}
    {snippetArea myArea}
        <div class="area">
            <p>This is a snippet area that can contain multiple snippets</p>
</body>
</html>