{* This is a test file with unclosed block directive *}

<html>
<head>
    <title>Test Unclosed Block Directive</title>
</head>
<body>
    <h1>Test Unclosed Block Directive</h1>
    
    {* Unclosed block directive *}
    {block content}
        <div class="content">
            <p>This is the content of the block</p>
</body>
</html>