{* This is a test file with unclosed switch directive *}

<html>
<head>
    <title>Test Unclosed Switch Directive</title>
</head>
<body>
    <h1>Test Unclosed Switch Directive</h1>
    
    {* Unclosed switch directive *}
    {switch $value}
        <div class="switch-content">
            <p>This content is in a switch block</p>
</body>
</html>